 html, body {
         	box-sizing: border-box;
         }
         * {
           box-sizing: inherit;
         }

         html, body, h1, h2, h3, h4, h5, h6 {
         	padding: 0;
         	margin: 0;
         }



        a {
          text-decoration: none;

        }

  .container {
  	text-align: center;
    max-width: 900px;
    min-width: 425px;
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  

  .studio {
  	display: block;
  	font-family: helvetica;
  	color: black;
	  width: 70%;
	  box-sizing: border-box;
  	
  	margin: 0 auto;
  	margin-bottom: 1%;
    margin-top: 5%;
    font-size: 25%;
    
}
.work:hover {
    color: blue;
  }
  .work {
    display: block;
    font-family: helvetica;
    color: black;
    width: 70%;
    box-sizing: border-box;
    background-color: black;
  
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 5%;
    font-size: 25%;
  
}
.location:hover {
    color: blue;
}
.location {
    display: block;
    font-family: helvetica;
    color: white;
    width: 70%;
    box-sizing: border-box;
    background-color: black;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 5%;
    box-shadow: 5px 10px 10px #888888;
}

  .content {
    display: block;
    font-family: helvetica;
    color: black;
    width: 70%;
    padding: 4%;
    margin-top: 4%;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 5%;
    padding-top: 1%;
    box-shadow: -10px 5px 10px #888888;

  }

  .interior1 {
    display: block;
    font-family: helvetica;
    color: white;
    width: 90%;
    padding: 2%;
    box-sizing: border-box;
    background-color: black;
   
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    
    

  }
  

.footer {
	display: block;
  	font-family: helvetica;
    font-weight: bold;
  	color: black;
	width: 70%;
	box-sizing: border-box;
  	background-color: white;
  
  	margin: 0 auto;
  	margin-bottom: 5%;
   
}

.header_image {
    width: 70%;
    background-color: white;
    
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: helvetica;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 200%;
    